<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="com.springbootstudy.app.mapper.userMapper" >
	
	<insert id="addUser" parameterType="user">
    INSERT INTO member (
        user_id, username,nickname ,password, address,phone,  gender,  birthday,rdate
    )
    VALUES (
        #{userId}, #{username},#{nickname}, #{password}, #{address},  #{phone},  #{gender}, #{birthday},#{rdate}
    )
</insert>
	
	
	</mapper>